.all-padding{
    padding: 1em 1em 1em 1em;
}

.all-margin{
    margin: 1em 1em 1em 1em;
}

.map-section{
    /*height: 100%;*/
    height: 400px;
}

.left-section{
    float: left;
}

.right-section{
    float: right;
}